.d-flex{
    display: flex;
    width: 100%;
}

.fw{
    flex-wrap: wrap;

}
.jcc{
    justify-content: center;
}

.aic{
    align-items: center;
}

.vh90{
height: 90vh;
}
.backImgStyles{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.account-text{
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.left-side{
    padding: 8px;
    margin: 8px;
    width: 47%;
    height: calc(100vh - 60px);
}

.right-side{
     width: 47%;
     height: calc(100vh - 60px);
     overflow-y: scroll;
}

.right-side .box {
    overflow-y: scroll;
    height: 48%;
}

.left-side .box {
    overflow-y: scroll;
    height: 48%;
}
.layout-body{
     height: calc(100vh - 40px);
}

.vh{
    height: calc(100vh - 100px);
}

.float-button {
position: fixed;
right: 80px;
bottom: 80px;
transition: all 0.2s ease-in 0s;
z-index: 9999;
cursor: pointer;
}